<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>HTML FORMS</h2>
    <form action="/submit mehtod='post">
        <label for="Symptoms">Symptoms:</label><br>
        <input type="text" id="Symptoms" name="Symptoms" value="0"><br>
        <input type="submit" value="Submit">
    </form>
</body>


</html>